<!DOCTYPE html>
<html lang="en">
<title>Ames Price Predictor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif
  }

  body {
    font-size: 16px;
  }

  .w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
  }

  .w3-half img:hover {
    opacity: 1
  }
</style>

<body>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-deep-orange w3-collapse w3-top w3-large w3-padding"
    style="z-index:3;width:500px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
      style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-jumbo" style="margin-left:20px;margin-top:200px;"><b>digitalizing real estate</b></h3>

    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-deep-orange w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Ames Housing Price Predictor</span>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:550px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo"><b>Why wait?</b></h1>
      <h1 class="w3-xxxlarge w3-text-deep-orange"><b>Get an instant quotation.</b></h1>
      <hr style="width:50px;border:5px solid #ff5722" class="w3-round">
    </div>

    <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:0px">
      <form action="/result" method="post" target="_self">
        <div class="w3-section">
          <label>Total Floor Area (square feet)</label>
          <input class="w3-input w3-border" type="number" name="tot-sf" min='330' max='12000'required>
        </div>
        <div class="w3-section">
          <label>External Quality (1-10)</label>
          <input class="w3-input w3-border" type="number" name="ext-qual" min='1' max='10' required>
        </div>
        <div class="w3-section">
          <label>Kitchen Quality (1-10)</label>
          <input class="w3-input w3-border" type="number" name="kit-qual" min='1' max='10' required>
        </div>
        <div class="w3-section">
          <label>Year Built</label>
          <input class="w3-input w3-border" type="number" name="year" min='1870' max='2020'required>
        </div>
        <div class="w3-section">
          <label>Overall Quality (1-10)</label>
          <input class="w3-input w3-border" type="number" name="over-qual" min='1' max='10' required>
        </div>

        <button type="submit"
          class="w3-button w3-block w3-padding-large w3-deep-orange w3-margin-bottom">Submit</button>
      </form>
    </div>



    <!-- Services -->
    <div class="w3-container" id="services" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-deep-orange"><b>More information.</b></h1>
      <hr style="width:50px;border:5px solid #ff5722" class="w3-round">
      <p>Fill up the above form to get an estimated valuation on your property right away.</p>
      <p>We are a team who believes in digitalizing real estate. We are all about taking the mystery away from property
        and putting knowledge right into your hands, the homeowners.
        Utilizing cutting edge technology, our machines have studied thousands of actual sales. Our predictive model can
        give you an estimate of your property price instantly.</p>
      <p>Are you ready to go digital? Because we are.</p>
    </div>




    <!-- End page content -->
  </div>

  <!-- W3.CSS Container -->
  <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
    <p class="w3-right">Brought to you by Ben, Kaylin, Liubin & Peter</p>
  </div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

  </script>

</body>

</html>